
<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <title>TCP Client Web Interface</title>
        <style>
            body {
                font-family: Arial;
                background: #f4f4f4;
            }
            .mono {
                font-family: 'Courier New', Courier, monospace;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid p-3">
            <div class="row">
                <h1 class="display-5 text-center">Intro to Computer Networks - Course Project</h1>
            </div>
            <div class="row pb-3">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Yahtzee Client</h5>
                            <textarea class="form-control mono mb-2" id="client_output" rows="15" readonly></textarea>
                            <div class="input-group">
                                <input id="command" type="text" class="form-control" placeholder="Enter Command">
                                <button class="input-group-text" onclick="sendCommand()">Send</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Yahtzee Server</h5>
                            <textarea class="form-control mono" id="server_output" rows="17" readonly></textarea>
                        </div>            
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Packet Capture</h5>
                            <input type="text" class="form-control mono border-0" id="header" rows="1" value="| No. | Time     | Source          | Destination     | Protocol | Length | Ports           | Info                                        | Raw Data" readonly></input>
                            <textarea wrap="off" class="form-control mono" id="wire_output" rows="9" readonly></textarea>
                        </div>            
                        </div>            
                    </div>
                </div>
            </div>
        </div>
        <script>
            const socket = io();
            let port = 0;
            
            // Collect the port for packet filtering
            socket.on('connection', function(msg) {
                port = msg.port
            });

            // Handle normal server messages (TCP responses)
            socket.on('client_log', function(msg) {
                const output = document.getElementById('client_output');
                output.value += msg.data;
                output.scrollTop = output.scrollHeight;
            });

            // Handle internal server logs
            socket.on('server_log', function(msg) {
                const logOutput = document.getElementById('server_output');
                logOutput.value += msg.data + '\n';
                logOutput.scrollTop = logOutput.scrollHeight;
            });

            // Handle internal server logs
            socket.on('wire_log', function(msg) {
                console.log("Wire log msg:", msg);
                const wireOutput = document.getElementById('wire_output');
                if (parseInt(msg.port) === port) {
                    wireOutput.value += msg.data + '\n';
                    wireOutput.scrollTop = wireOutput.scrollHeight;
                }
            });

            function sendCommand() {
                const input = document.getElementById('command');
                const message = input.value;
                socket.emit('send_command', { data: message });
                input.value = '';
            }
            
            // Map enter key to trigger send command
            document.getElementById('command').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    sendCommand();
                }
            });
        </script>
    </body>
</html>
